﻿@model AppDF_K_A.Models.DAL.Detalle_Auto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Detalle_Auto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tipo_Transmision)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_Transmision)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kilometraje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kilometraje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo_Combustible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_Combustible)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDDetalle_Auto }) |
    @Html.ActionLink("Back to List", "Index")
</p>
