﻿@model AppDF_K_A.Models.DAL.Auto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Auto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modelo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Detalle_Auto.Kilometraje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detalle_Auto.Kilometraje)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Detalle_Auto.Tipo_Combustible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detalle_Auto.Tipo_Combustible)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Detalle_Auto.Tipo_Transmision)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detalle_Auto.Tipo_Transmision)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Detalle_Auto.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detalle_Auto.Color)
        </dd>
    </dl>

</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
