﻿@model IEnumerable<AppDF_K_A.Models.DAL.Auto>

@{
    ViewBag.Title = "Index";
}

<h2>Rent A Car - Informacion de vehiculos en venta</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idAuto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modelo)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Detalle_Auto.Tipo_Transmision)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idAuto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modelo)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Detalle_Auto.Tipo_Transmision)
        </td>*@
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.idAuto }) 
        </td>
    </tr>
}

</table>
